* {
    padding: 0;
    margin: 0;
    background-color: #171a21 !important;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

.header {
    border-radius: 10px;
    border: 1px solid #882596;
    width: 98%;
    height: 50px;
    margin: auto;
    margin-top: 10px;
}

.logo {
    margin: 10px 350px;
    font-size: 21px;
    color: white;
}

.content {
    margin: auto;
    margin-top: 50px;

    width: 60%;
    height: 100%;
}

.left-panel {
    width: 170px;
    height: 700px;
    border-radius: 10px;
    border: 1px solid #882596;

}

.left-panel-item {
    text-decoration: none;
    text-align: center;
    width: 90%;
    margin-top: 5px;
    height: 30px;
    padding: 7px;
    color: #727070;
    transition: 0.5s;
}

.left-panel-item:hover {
    color: white;
}

.main-panel {
    display: flex;
    width: 900px;
    height: 350px;
    border: 1px solid #882596;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: -702px;
}

.user-image-block {
    margin: 150px 50px;
}

.profile-img {
    width: 175px;
    height: 150px;
    border-radius: 100%;
}

.user-name {
    margin-top: 260px;
    margin-left: -40px;
    color: #727070;
    font-size: 23px;
}

.user-desc {
    font-size: 15px;
}

.session_response {
    color: #55b45f;
    position: absolute;
    margin: 50px;
}

.change-user-info {
    width: 300px;
    height: 100%;
}

.btn-change-img-profile {
    height: 30px;
    margin: 20px 180px;
}

.answer-change-profile {
    width: 200px;
    color: #727070;
    font-size: 19px;
    margin-left: 10px;
}

.btn-change-img-profile {
    width: 200px;
    height: 30px;
}

.input-user {
    border-radius: 10px;
    width: 210px;
    padding: 5px;
    border: 1px solid #882596;
    cursor: pointer;
}

.textarea-user {
    border-radius: 10px;
    width: 90%;
    height: 200px;
    padding: 5px;
    border: 1px solid #882596;
    cursor: pointer;
}

input::file-selector-button {
    text-decoration: none;
    border: 0px solid white;
    background: none;
    color: #727070;
    transition: 0.5s;
    cursor: pointer;
}

input::file-selector-button:hover {
    color: white;
}

.btn-change-info-profile {
    margin: 230px 180px;
}

.btn-user {
    width: 210px;
    padding: 6px;
    height: 40px;
    border: 1px solid #882596;
    color: #727070;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-user:hover {
    color: white;
}

.create_post {
    width: 600px;
    height: 40px;
    border: 1px solid #882596;
    font-size: 21px;
    color: #727070;
    text-align: center;
    padding-top: 1px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 200px;
    cursor: pointer;
}

.user_posts {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-left: 200px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid #882596;

    .post_text {

        text-align: left;
        margin-left: 20px;
        width: 90%;
        margin-top: 50px;
        color: #727070;
    }
}

.profile-img-post {
    width: 60px;
    height: 50px;
    border-radius: 100%;
    margin: 20px;
}

.post-user-name {
    width: 60px;
    height: 50px;
    border-radius: 100%;
    font-size: 17px;
    color: #727070;
    margin: -58px 90px;
}

.post-like-comments {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 90%;
    height: 30px;
    border-radius: 10px;
}

.red-fill {
    width: 30px;
    height: 26px;
    background-color: #fa0000;
    display: block;
}

.like_count {
    margin: -25px 33px;
    color: white;
}

.create_post_show {
    z-index: 1000;
    display: none;
    margin: auto;
    margin-left: 200px;
    width: 600px;
    margin-top: 10px;
    height: 450px;
    border-radius: 10px;
    border: 2px solid #882596;
    transition: 0.5s;
}

.name-post-create {
    width: 98%;
    margin: auto;
    text-align: center;
}

.text-post-create {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.img-post-create {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.create-post-btn {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.post-create-text {
    color: #727070;
}

#post_name_create {
    text-align: center;
    color: white;
}

#post_name_create:hover {
    outline: none;
}

#post_name_create:focus {
    outline: none;
}
